@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark ;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f0aa38;
  --color-secondary: teal;
}

body{
   font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.dark{
  @apply dark:bg-slate-900 dark:text-white
}

nav .active{
  @apply bg-primary text-base-200
}

/* Light mode placeholder */
::placeholder {
  color: #9ca3af; /* Tailwind's gray-400 */
}

/* Dark mode placeholder */
.dark ::placeholder {
  color: #6b7280; /* Tailwind's gray-500 */
}

